<section class="flex flex-col min-h-full bg-slate-100 items-center">
  <div class="my-auto flex flex-col justify-center">
    <p class="text-4xl font-black text-gray-900 font-mono">Budget Buddy</p>
  </div>
  <div class="flex flex-col w-full mt-auto justify-self-end">
    <%= link_to "Login", new_user_session_path, class: "w-full p-3 text-center font-semibold bg-main-color text-white" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "w-full p-3 text-center font-semibold bg-slate-200 text-text-color" %>
  </div>
</section>
